.new-release-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow-md);
}
.slider-container-loader {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 500px;
  width: 100%;
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-md);
}

.slider {
  display: flex;
  gap: var(--gap-8);
  padding: var(--spacing-6);
  transition: transform 0.5s ease-in-out;
}

.loading,
.error {
  text-align: center;
  padding: var(--spacing-6);
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: var(--gradient-secondary);
  color: var(--color-text-primary);
  border: none;
  height: 25%;
  padding: var(--spacing-2);
  font-size: var(--font-size-lg);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  z-index: 10;
}

.slider-button.left {
  left: 0;
}

.slider-button.right {
  right: 0;
}

.slider-button:hover {
  background-image: var(--gradient-primary);
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .slider-container {
    max-width: 1000px;
  }

  .slider {
    padding: var(--spacing-4);
  }

  .slider-button {
    font-size: var(--font-size-md);
    padding: var(--spacing-1);
  }
}

@media (max-width: 992px) {
  .slider-container {
    max-width: 800px;
  }

  .slider {
    gap: var(--gap-6);
    padding: var(--spacing-3);
  }

  .slider-button {
    height: 20%;
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 768px) {
  .slider-container {
    max-width: 600px;
  }

  .slider {
    gap: var(--gap-4);
    padding: var(--spacing-2);
  }

  .slider-button {
    height: 15%;
    font-size: var(--font-size-xs);
  }
}

@media (max-width: 576px) {
  .slider-container {
    max-width: 100%;
    border-radius: 0;
  }

  .slider {
    gap: var(--gap-2);
    padding: var(--spacing-1);
  }

  .slider-button {
    height: 10%;
    font-size: var(--font-size-xxs);
    padding: var(--spacing-0.5);
  }
}
