.new-release-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  flex: 0 0 300px;
}
.favorite-button {
  all: unset;
  position: absolute;
  top: var(--spacing-3);
  right: var(--spacing-3);
  z-index: 1;
  background-color: white;
  border-radius: var(--border-radius-full);
  padding: var(--spacing-2);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}
.favorite-button.active {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-400);
  outline: none;
  box-shadow: var(--shadow-lg);
}

.favorite-button.active i {
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

.favorite-button i {
  font-size: var(--font-size-xl);
  color: var(--color-neutral-900);
  transition: color 0.3s ease, transform 0.2s ease;
}

.favorite-button:hover {
  outline: 3px solid var(--color-primary-400);
  background-color: var(--color-primary-500);
  transform: scale(1.1);
  box-shadow: var(--shadow-xl);
}

/* Icon Hover Effect */
.favorite-button:hover i {
  text-shadow: 0px 0px 5px white;
  color: white;
  transform: rotate(15deg);
}

.favorite-button:active {
  transform: scale(0.95);
  box-shadow: var(--shadow-sm);
}
.favorite-button:focus-visible {
  outline: 2px solid var(--color-secondary-500);
  border-color: var(--color-primary-400);
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-xl);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.new-release-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);
  flex-grow: 1;
}

.new-release-card h3 {
  margin: 0 0 10px;
  font-size: var(--font-size-lg);
  color: var(--color-neutral-900);
}

.artist {
  font-size: var(--font-size-sm);
  color: #666;
  margin: 0 0 5px;
}

.release-date {
  font-size: 0.9em;
  color: #888;
  margin: 0 0 15px;
}

.spotify-link {
  margin-top: auto;
  align-self: start;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-semibold);
  gap: var(--gap-1);
  justify-content: center;
  background-color: var(--color-primary-500);
  color: white;
  text-align: center;
  text-decoration: none;
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);
  transition: background-color 0.3s ease;
  position: relative;
  box-shadow: var(--shadow-sm);
  overflow: hidden;
}

.spotify-link-text {
  transform: translateX(4px);
  transition: transform 0.3s ease;
}
.spotify-link:hover .spotify-link-text {
  transform: translateX(-4px);
}

.spotify-link-icon {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(0);
}

.spotify-link:hover .spotify-link-icon {
  opacity: 1;
  transform: scale(1.2);
}
