.new-release-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow-md);
}

.slider {
  display: flex;
  gap: var(--gap-8);
  padding: var(--spacing-6);
  transition: transform 0.5s ease-in-out;
}



.loading,
.error {
  text-align: center;
  padding: var(--spacing-6);
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: var(--gradient-secondary);
  color: var(--color-text-primary);
  border: none;
  height: 25%;
  padding: var(--spacing-2);
  font-size: var(--font-size-lg);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  z-index: 10;
}


.slider-button.left {
  left: 0;
}

.slider-button.right {
  right: 0;
}

.slider-button:hover {
  background-image: var(--gradient-primary);
}
