.nav-link {
  position: relative;
  background: var(--gradient-accent);
  padding: var(--spacing-2) var(--spacing-1);
  border-radius: var(--border-radius-full);
  box-shadow: var(--shadow-lg);
  cursor: pointer;
}
.nav-link:hover {
  background-color: var(--color-primary-600);
}
.menu {
  position: absolute;
  top: 50px;
  right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-surface);
  padding: var(--spacing-2) var(--spacing-3);
  width: fit-content;
  border-radius: var(--border-radius-lg);
  gap: var(--gap-2);
}
.menu-item {
  min-width: 100px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  padding: var(--spacing-2) var(--spacing-4);
  color: var(--color-text-primary);
  border-radius: var(--border-radius-lg);
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}
.menu-item:hover {
  background-color: var(--color-neutral-900);
}
