.modal {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}
.modal-content {
  color: black;
  width: 800px;
  aspect-ratio: 2 / 1;
  background: white;
  padding: var(--spacing-2) var(--spacing-8);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-lg);
  transform: translateY(-20px);
  transition: transform 0.3s ease;
  overflow-y: auto;
}
.modal.show .modal-content {
  transform: translateY(0);
}
.close {
  cursor: pointer;
  font-size: var(--font-size-3xl);
  color: black;
  font-weight: bold;
  position: absolute;
  top: 1%;
  right: 2%;
}
.close:hover {
  color: rgba(0, 0, 0, 0.8);
}
