.modal {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal[open] {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  color: var(--color-text-primary);
  width: 90%; /* Use percentage instead of fixed width */
  max-width: 800px; /* Maximum width for larger screens */
  max-height: 90vh; /* Prevent modal from being taller than viewport */
  background: var(--color-surface);
  padding: var(--spacing-2);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-lg);
  transform: translateY(20px);
  transition: transform 0.3s ease;
  overflow: auto;
  scrollbar-width: none;
  position: relative; /* For absolute positioning of close button */
}

/* Adjust padding for different screen sizes */
@media (min-width: 640px) {
  .modal-content {
    padding: var(--spacing-2) var(--spacing-4);
  }
}

@media (min-width: 768px) {
  .modal-content {
    padding: var(--spacing-2) var(--spacing-8);
    aspect-ratio: 2 / 1; /* Apply aspect ratio only on larger screens */
  }
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal[open] .modal-content {
  transform: translateY(0);
}

.close {
  cursor: pointer;
  font-size: var(--font-size-3xl);
  color: var(--color-text-primary);
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure it's above other content */
}
