header {
  align-items: center;
  background: transparent;
  min-height: 4rem;
  padding: var(--spacing-4) var(--spacing-6);
  position: fixed;
  width: 100%;
  z-index: var(--z-10);
}
.scrolled {
  background: var(--color-surface);
  box-shadow: var(--shadow-sm);
}
.navbar {
  display: flex;
  padding: 0 var(--spacing-12);
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-3xl);
  font-family: var(--font-family-serif);
}
.nav-list {
  display: flex;
  list-style: none;
  gap: var(--gap-6);
}
.nav-link:nth-child(2) {
  position: relative;
  background-color: var(--color-primary-500);
  padding: var(--spacing-2) var(--spacing-1);
  border-radius: var(--border-radius-full);
  box-shadow: var(--shadow-lg);
  cursor: pointer;
}
.nav-link:hover {
  background-color: var(--color-primary-600);
}
.menu {
  position: absolute;
  top: 50px;
  right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-surface);
  padding: var(--spacing-2) var(--spacing-3);
  width: fit-content;
  border-radius: var(--border-radius-lg);
  gap: var(--gap-2);
}
.menu-item {
  min-width: 100px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  padding: var(--spacing-2) var(--spacing-4);
  color: var(--color-text-primary);
  border-radius: var(--border-radius-lg);
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}
.menu-item:hover {
  background-color: var(--color-neutral-900);
}
